# VITE_GEMINI_API_KEY: Wymagany dla zapytań Gemini API.
# Skonfiguruj w lokalnym środowisku lub panelu chmury (np. Cloud Run).
VITE_GEMINI_API_KEY="twój-klucz-gemini"

# VITE_APP_URL: Adres pod którym hostowana jest aplikacja.
# Skonfiguruj ze swoim adresem produkcyjnym (np. https://otakos.wtf).
VITE_APP_URL="https://otakos.wtf"

# SOVEREIGN WALLET ADDRESSES & FIAT GATEWAYS (opcjonalne nadpisanie przez zmienne środowiskowe)
VITE_WALLET_METAMASK="0x348Eb1119B19e0eD4Cf51438453771242B3f8A4C"
VITE_WALLET_LITEWALLET="0xedd21c68cbc84b2d5c402aa1d986f92ff079b7d1"
VITE_DONATE_PAYPAL="https://paypal.me/TeOMusicStudio"
VITE_DONATE_COFFEE="https://buymeacoffee.com/teoc4"
